<h1 class="product-heading">Product Listings</h1>

<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="https://wethesafe.com/wp-content/uploads/2020/09/PW-V1080170.jpg" class="card-img img-fluid" width="" height="" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Waterproof Lightweight Safety Rainsuit – Poly/PVC – Hangable bag</a> </h6> <a href="#" class="text-muted" data-abc="true">Safety Clothing</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$48.00</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i><i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="https://wethesafe.com/wp-content/uploads/2020/09/RM-S24511-Solid-Orange.jpg" class="card-img img-fluid" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Fleece Lined Safety</a> </h6> <a href="#" class="text-muted" data-abc="true">Safety Clothing</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$150.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">14 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="https://wethesafe.com/wp-content/uploads/2020/12/ns513835-3_no_package_1024x1024-800x800.jpg" class="card-img img-fluid" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">100ft 12/3 SJTW -50°C Neon Flex® High Visibility Outdoor Extension Cord</a> </h6> <a href="#" class="text-muted" data-abc="true">New Items</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$103.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">30 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="https://wethesafe.com/wp-content/uploads/2020/04/7035BQC_.png" class="card-img img-fluid"  alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Fall Tech Journeyman FLEX Aluminum – 3 D-rings (Back&Side)</a> </h6> <a href="#" class="text-muted" data-abc="true">Fall Protection</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$440.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">14 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="https://wethesafe.com/wp-content/uploads/2019/09/Training-Forklift-2-800x800.png" class="card-img img-fluid" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Training - Boom Lift</a> </h6> <a href="#" class="text-muted" data-abc="true">Safety Training</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$435.00</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">32 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="https://wethesafe.com/wp-content/uploads/2019/09/Training-The-Core-of-Fall-Protection-800x800.png" class="card-img img-fluid" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Training - The Core of Fall Protection</a> </h6> <a href="#" class="text-muted" data-abc="true">Core Protection</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$199.00 - $1,440.00</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i><i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">23 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>