@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body {
    background-color: #f8f8f8;
}
#logo {
    float: left;
    font-size: 1.7em;
    color: green;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 0.2s ease;
}

#logo:hover {
    color: black;
}

.navbar {
    background-color: #f8f8f8 !important;
}
.nav-link {
    color: #000 !important;

    opacity: 1 !important;
}
.nav-item a:hover, .nav-link:hover {
    color: green !important;
}

.jumbotron {
    color: white;
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0, 0, 0, 0.2)), asset-url('background.jpg');
    background-size: cover;
    height: 330px;
    animation-name: movementSkills;
    animation-fill-mode:backwards ;
    animation-timing-function:linear ;
    animation-duration: 70s;
    overflow: hidden;
}
@keyframes movementSkills
    {
        0%
        {
            background-position: top right ;
        }
        100%
        {
            background-position: bottom left;
    }
}

.btn-danger {
    background-color: green !important;
    transition: all 0.2s ease;
    color: white;

    &:hover {
            color: #000;
            background-color: rgb(111, 204, 111) !important ;
            text-decoration: none;
            border-radius: 5px 5px !important;
    }
}

.col-lg-4 {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p a {
        background-color: green !important;
        transition: all 0.2s ease;


    &:hover {
        background-color: rgb(111, 204, 111) !important ;
        text-decoration: none;
        color: black;
    }
    }
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    //   pointer-events: none;
  }

.text-muted {
    font-family: 'ubuntu';
}

.featurette-heading {
    color: green;
}
.featurette {
    width: 100%;
    margin: 3rem 0;
}
.featurette-heading:hover {
    text-decoration: none;
    color: black
}
.page-footer {
    margin-top: 2rem;
    width: 100% !important;
    overflow: hidden !important;
}

.page-footer > * {
    padding: 0 10px;

}

.footer-logo {
    font-size: 1.5rem;
}
.footer-links a, .footer-contact a{
    color: green !important;

    &:hover {
        color: black !important;
        text-decoration: none;
    }
}

// Product page
.product-heading {
    color: green;
    text-align: center;
    margin-top: 1rem;
}
.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.2rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.card-img {
    width: 200px
}

.star {
    color: orange
}

.bg-cart {
    background-color: green;
    color: #fff
}

.bg-cart:hover {
    color: black;
    background-color: rgb(111, 204, 111) ;

}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
