body {
    background-color: #f8f8f8;
}
#logo {
    float: left;
    font-size: 1.7em;
    color: green;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 0.2s ease;
}

#logo:hover {
    color: black;
}

.navbar {
    background-color: #f8f8f8 !important;
}

.jumbotron {
    color: white;
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.2)), asset-url('background.jpg');
    background-size: cover;
    height: 330px;
}

.btn-danger {
    background-color: green !important;
    transition: all 0.2s ease;
    color: white;

    &:hover {
            color: #000;
            background-color: rgb(111, 204, 111) !important ;
            text-decoration: none;
            border-radius: 5px 5px !important;
    }
}

.col-lg-4 {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p a {
        background-color: green !important;
        transition: all 0.2s ease;


    &:hover {
        background-color: rgb(111, 204, 111) !important ;
        text-decoration: none;
        color: black;
    }
    }
}
.page-footer {
    margin-top: 2rem;
    width: 100% !important;
    overflow: hidden !important;
}

.page-footer >* {
    padding: 0 10px;

}

.footer-links a, .footer-contact a{
    color: green !important;

    &:hover {
        color: black !important;
        text-decoration: none;
    }
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
